<%= @word %>

<% if @result %>
  <%= @result %>
<% end %>

<form action="/" method="post">
  <input type="hidden" name="word" value="<%= @word %>">
  <input name="guess">
  <button type="submit">Guess</button>
</form>
