<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>WPM</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper blue accent-4">
          <a class="brand-logo center">WPM</a>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
